:root {
  --primary-color: #FFC107;
  --secondary-color: #FF5722;
  --tertiary-color: #2196F3;
  --text-color: #333;
  --background-color: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
  justify-items: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 18rem;
}

.card img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}

.card h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.6rem;
  color: var(--text-color);
}

.card p {
  font-size: 1rem;
  margin: 0;
  padding: 0.6rem;
  color: var(--text-color);
}

.card button {
  margin-bottom: 0.5rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.card button:hover {
  background-color: var(--tertiary-color);
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

header img {
  width: 1.2rem;
  height: auto;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
  max-width: 25rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

form button[type="submit"] {
  background-color: #FF5722;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.3rem;
  text-align: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1rem;
        padding: 0 0.5rem;
    }
}

#registro {
  padding: 0 0 1rem 0;
}